<% layout('layouts/boilerplate')%>

<div class="alert alert-danger" role="alert">
  <p>Error: <%= err.message %></p>
  <p>StatusCode: <%= err.statusCode %></p>
  <p>stackTrace: <%= err.stack %></p>
</div>
